/*****************************************************************
**  Description:  Css file for media queries for mobile responsive
**                layouts
******************************************************************

/* Media Query above 1200 px */


    #mobileMenu {
      display: none;
    }
  
    .add-item form {
      width: 100%;
    }
  
    .add-item {
      position: fixed;
      border-radius: 2px;
      border-top: 3px solid #8371382d;
      background-color: rgb(237, 237, 237);
      padding: 10px 18px;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
      margin-bottom: 30px;  
      margin-top: 75px;
      width: 12%;
      height: 400px;
      left: 25px;
    }
  
    .container {
      display: block;
      max-width: 92vw;
      margin: 0 auto;
      padding-top: 35px;
    }
  
    #back-button-in-mobile {
      left: 35%;
      margin-top: 750px;
      width: 120px;
      height: 28px;
      background-color: #04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 18px;
      padding-top: 7px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #back-button-out-mobile {
      display: none;
    } 
  
  
  /* Media query below 1200 px */
  
  @media only screen and (max-width: 1200px) {

    .add-item {
      display: none;
    }
  
    #StartScoreText {
      display: none;
    }
  
    .display-item {
      width: 100%;
      height: 10vw;
      margin-left: 4vw;
      margin-top: 120px;
    }
  
    #back-button-in-mobile {
      left: 35%;
      margin-top: 750px;
      width: 120px;
      height: 28px;
      background-color: #04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 25px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #back-button-out-mobile {
      left: 44vw;
      margin-top: 60px;
      width: 120px;
      height: 30px;
      background-color: #04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 18px;
      padding-top: 5px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #back-button-in {
      display: none;
    }
  
    #mobileMenu {
      font-size: 16px;
      position: absolute;
      margin-top: 43px;
      left: -5.5vw;
    }
  
    .container {
      display: flex;
      margin: 0 auto;
      padding-top: 35px;
    }
  
    #drawerDiv {
      width:350px;
      background-color: black;
    }
  
    #userName {
      display: none;
    }
  
    #userIcon {
      display: none;
    }
  
    .photo {
      width: 25vw;
      margin-left: 1vw;
      margin-top: .5vw;
    }
    
    .gridSheet {
      width: 35vw;
      padding-top: 1vw;
      margin-left: 20px;
    }
  
    .mobileTourneyIDNameField {
      display: block;
      margin-bottom: 5px;
      border-color: black;
      background-color: #b0bdc544;
      width: 80%;
      margin-left: 10px;
      margin-top: 10px;
    }
    
    .mobileQuizRoomField {
      display: block;
      margin-bottom: 7px;
      background-color: #b0bdc544;
      width: 80%;
      margin-left: 10px;
    }
  
    .mobile-user-profile {
      position: fixed;
      left: 40px;
      width: 100px;
      height: 100px;
    }
  
    #mobileUserName {
      top: 530px;
      left: 160px;
      width: 200px;
      height: 100px;
    }
  
    #mobileUserIcon {
      margin-top: 515px;
      border-radius: 50%;
      max-width: 100%;
    }
  
    #back-button-in-mobile {
      left: 32%;
      margin-top: 635px;
      width: 100px;
      height:24px;
      background-color: #04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 17px;
      padding-top: 5px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #back-button-out {
      display: none;
    }
  }
  
  /* Media query below 650 px */
  
  @media only screen and (max-width: 650px) {

    header h1 {
        font-size: 18px;
    }
  
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    li {
      width: 88%;
      list-style-type: none;
      margin-left: 4vw;
      background-color: rgb(237, 237, 237);
      color: #000;
      margin-bottom: 30px;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
    }
  
    #drawerDiv {
      width: 320px;
      background-color: black;
    }
  
    .photo {
      width: 60vw;
      margin-left: 1vw;
      margin-top: .5vw;
    }
    
    .gridSheet {
      width: 70vw;
      padding-top: 1vw;
      margin-left: 20px;
    }
  
    #mobileStartScoreText {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 70px;
    }
  
    #mobileUserName {
      top: 510px;
      left: 160px;
      width: 200px;
      height: 100px;
    }
  
    #mobileUserIcon {
      margin-top: 500px;
      width: 90%;
    }
  
    #back-button-in-mobile {
      left: 32%;
      margin-top: 600px;
      width: 100px;
      height: 24px;
      background-color: #04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 17px;
      padding-top: 5px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #back-button-out-mobile {
      left: 33vw;
      margin-top: 60px;
      width: 120px;
      height: 30px;
      background-color  :#04536d;
      position: absolute;
      border-radius: 11px;
      font-family: verdana;
      font-size: 18px;
      padding-top: 5px;
      box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    }
  
    #logComment {
      text-align: center;
      margin-top: 150px;
      width: 80%;
      margin-left: 6vw;
    }
  }